@media(max-width:630px){
    .cabecalho{
        flex-direction: column;
    }

.tit-sec{
    text-align: center;
    font-size: 5rem;
}

.cabecalho nav{
    flex-wrap: nowrap;
    height: auto;
}

.cabecalho a{
    padding: 2.5vh 0;
    font-size: 2rem;
}

}